{% extends "base.html" %}
    
{% block css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/style.css')}}">
{% endblock %}
{% block content %}
<div class="container-fluid">
    <ol class="breadcrumb">
        <li><a href="/home">首页</a></li>
        <li><a href="/agent" class="active">经纪人信息</a></li>
    </ol>
</div>
<div class="container-fluid col-sm-10 col-sm-offset-1">
    <div id="info-panel" class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">Agent Contact Info</h3>
        </div>
        <div class="panel-body">
            <h4>{{ current_user.agent_name }}</h4>
            <div class="col-sm-8">
                <div class="col-sm-12 item">
                    <i class="fa fa-user" title="License" aria-hidden="true"></i>: {{ current_user.agent_license }}
                </div>
                <div class="col-sm-12 item">
                    <i class="fa fa-phone" title="US Phone" aria-hidden="true"></i>: {{ current_user.agent_phone }}
                </div>
                <div class="col-sm-12 item">
                    <i class="fa fa-phone-square" title="Chinese Phone" aria-hidden="true"></i>: {{ current_user.agent_phone_china }}
                </div>
                <div class="col-sm-12 item">
                    <i class="fa fa-wechat" title="Wechat" aria-hidden="true"></i>: {{ current_user.agent_wechat }}
                </div>
                <div class="col-sm-12 item">
                    <i class="fa fa-envelope" title="Email" aria-hidden="true"></i>: {{ current_user.agent_email }}
                </div>
                <div class="col-sm-12 item">
                    <i class="fa fa-address-book" title="Office Address" aria-hidden="true"></i>: {{ current_user.agent_office }}
                </div>
                <div class="col-sm-12 item">
                    <span title="Qrcode" class="glyphicon glyphicon-qrcode"></span> 
                    {% if current_user.agent_qrcode %}
                    <img src="{{ url_for('static',filename=current_user.agent_qrcode) }}" style="width:100px;height: 100px">
                    {% endif %}
                </div>
            </div>
             <div class="col-sm-12 item">
                <div class="col-xs-12 btng" style="text-align: right;">
                    <a href="/home" class="btn btn-default ss">返回</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="{{url_for('static',filename='assets/js/agent.js')}}"></script>
    <!-- <script type="text/javascript" src="{{url_for('static', filename='assets/js/ng-agent.js')}}"></script> -->
{% endblock %}
</html>