{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" />
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css')}}">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <ol class="breadcrumb">
        <li><a href="/home">首页</a></li>
        <li><a href="/property">房产管理</a></li>
        <li><a href="/property/form" class="active">房产编辑</a></li>
    </ol>
</div>
<div class="container-fluid col-sm-10 col-sm-offset-1">
<form action="/property/save" enctype=multipart/form-data method="POST">
    <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Property Information</h3>
            </div>
            <div class="panel-body">
                <div><label>Domains</label></div>
                <input name="id" class="hidden" type="text" required value="{{ property.idproperty }}">
                <div class="col-sm-12 item">
                    <div class="col-sm-8">
                        <input name="domain" class="form-control" type="text" placeholder="Website domain" required value="{{ property.domain }}">
                    </div>
                    <div class="col-sm-4" style="text-align: right">
                        <span>(eg. www.laproperty.com)</span>
                    </div>
                </div>
                <div><label>Address</label></div>
                <div class="col-sm-12 item">
                    <div class="col-sm-8">
                        <input name="address1" class="form-control" type="text" placeholder="Property Address Line 1" required value="{{ property.address1 }}">
                    </div>
                    <div class="col-sm-4" style="text-align: right">
                        <span>(eg. 1223 Oakhaven Rd)</span>
                    </div>
                </div>
                <div class="col-sm-12 item">
                    <div class="col-sm-8">
                        <input name="address2" class="form-control" type="text" placeholder="Property Address Line 2(Optional)" value="{{ property.address2 }}">
                    </div>
                    <div class="col-sm-4" style="text-align: right">
                        <span>(eg. Room #302)</span>
                    </div>
                </div>
                <div class="col-sm-12 item">
                    <div class="col-sm-8">
                        <input name="address3" class="form-control" type="text" placeholder="City, State Zip" required value="{{ property.address3 }}">
                    </div>
                    <div class="col-sm-4" style="text-align: right">
                        <span>(eg. Arcadia, CA 91006)</span>
                    </div>
                </div>
                <div><label>Details</label></div>
                <div class="col-sm-12 item">
                    <div class="col-sm-8">
                        <input name="property-num" class="form-control" type="text" placeholder="Property Number (Optional)" value="{{ property.property_number }}">
                    </div>
                    <div class="col-sm-4" style="text-align: right">
                        <span>(eg. IV15194901)</span>
                    </div>
                </div>
                <div class="col-sm-12 item">
                    <div class="col-sm-8">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon2">$</span>
                            <input name="price_us" class="form-control" type="number" placeholder="List Price in USD" required aria-describedby="basic-addon2" value="{{ property.price }}">
                        </div>
                    </div>
                    <div class="col-sm-4" style="text-align: right">
                        <span>(eg. 288000)</span>
                    </div>
                </div>
                <div class="col-sm-12 item">
                    <div class="col-sm-8">
                        <input name="beds" class="form-control" type="number" placeholder="Number of Beds" required value="{{ property.beds }}">
                    </div>
                    <div class="col-sm-4" style="text-align: right">
                        <span>(eg. 4)</span>
                    </div>
                </div>
                <div class="col-sm-12 item">
                    <div class="col-sm-8">
                        <input name="baths" class="form-control" type="number" placeholder="Number of Baths" required value="{{ property.baths }}">
                    </div>
                    <div class="col-sm-4" style="text-align: right">
                        <span>(eg. 4)</span>
                    </div>
                </div>
                <div class="col-sm-12 item">
                    <div class="col-sm-8">
                        <input name="floors" class="form-control" type="number" placeholder="Number of Floors (Optional)" value="{{ property.floors }}">
                    </div>
                    <div class="col-sm-4" style="text-align: right">
                        <span>(eg. 2)</span>
                    </div>
                </div>
                <div class="col-sm-12 item">
                    <div class="col-sm-8">
                        <input name="home-size" class="form-control" type="number" placeholder="Home Size(in sqft)" required value="{{ property.home_size }}">
                    </div>
                    <div class="col-sm-4" style="text-align: right">
                        <span>(eg. 4388)</span>
                    </div>
                </div>
                <div class="col-sm-12 item">
                    <div class="col-sm-8">
                        <input name="lot-size" class="form-control" type="number" placeholder="Lot Size(in sqft)" required value="{{ property.lot_size }}">
                    </div>
                    <div class="col-sm-4" style="text-align: right">
                        <span>(eg. 14375)</span>
                    </div>
                </div>
                <div class="col-sm-12 item">
                    <div class="col-sm-8">
                        <input name="year" class="form-control" type="number" placeholder="Year Built" required value="{{ property.year_built }}">
                    </div>
                    <div class="col-sm-4" style="text-align: right">
                        <span>(eg. 1984)</span>
                    </div>
                </div>
                <div class="col-sm-12 item">
                    <div class="col-sm-8">
                        <select name="property-type-eng" id="property-eng" class="form-control" required>
                            <option value="" disabled {% if property.property_type_English=="" %} selected {% endif %}>Property Type in English</option>
                            <option value="Single Family Residence" {% if property.property_type_English=="Single Family Residence" %} selected {% endif %} >Single Family Residence</option>
                            <option value="Single Family Residence 2" {% if property.property_type_English=="Single Family Residence 2" %} selected {% endif %} >Single Family Residence 2</option>
                        </select>
                    </div>
                    <div class="col-sm-4" style="text-align: right">
                        <span>(eg. Single Family Residence)</span>
                    </div>
                </div>
                <div class="col-sm-12 item">
                    <div class="col-sm-8">
                        <select name="property-type-chn" id="property-chn" class="form-control" required>
                            <option value="" disabled selected>Property Type in Chinese</option>
                            <option value="独立屋">独立屋</option>
                            <option value="独立屋">独立屋2</option>
                        </select>
                    </div>
                    <div class="col-sm-4" style="text-align: right">
                        <span>(eg. 独立屋)</span>
                    </div>
                </div>
                <div class="col-sm-12 item">
                    <div class="col-sm-8">
                        <input name="date" placeholder="List Date" id="datetimepicker1" type='text' value="{{ property.list_date_English }}" class="form-control" required/>
                    </div>
                    <div class="col-sm-4" style="text-align: right">
                        <span>(eg. Jun 21, 2016)</span>
                    </div>
                </div>
                <div class="col-sm-12 item">
                    <div class="col-sm-8">
                        <input name="school-district-eng" class="form-control" type="text" placeholder="School District in English" value="{{ property.school_district_English }}" required>
                    </div>
                    <div class="col-sm-4" style="text-align: right">
                        <span>(eg. Arcadia Unified)</span>
                    </div>
                </div>
                <div class="col-sm-12 item">
                    <div class="col-sm-8">
                        <input name="school-district-chn" class="form-control" type="text" placeholder="School District in Chinese" required value="{{ property.school_district_Chinese }}">
                    </div>
                    <div class="col-sm-4" style="text-align: right">
                        <span>(eg. 阿凯迪亚学区)</span>
                    </div>
                </div>
                <div class="col-sm-12 item">
                    <div class="col-sm-8">
                        <select name="sale-state" id="sale-state" class="form-control" required>
                            <option value="" disabled selected>Sale State</option>
                            <option value="OnSale">On Sale</option>
                            <option value="Sold">Sold</option>
                        </select>
                    </div>
                    <div class="col-sm-4" style="text-align: right">
                        <span>(eg. On Sale)</span>
                    </div>
                </div>
                <div><label>Description</label></div>
                <div class="col-sm-12 item">
                    <div class="col-sm-8">
                        <textarea name="description-eng" class="form-control" style="height:200px;" placeholder="Description in English" required>{{ property.description_English }}</textarea>
                    </div>
                    <div class="col-sm-4" style="text-align: right">
                        <span>(eg. Gorgeous split-level home located
      in prestigious North-Arcadia with...)</span>
                    </div>
                </div>
                <div class="col-sm-12 item">
                    <div class="col-sm-8">
                        <textarea name="description-chn" class="form-control" style="height:200px;" placeholder="Description in Chinese" required>{{ property.description_Chinese }}</textarea>
                    </div>
                    <div class="col-sm-4" style="text-align: right">
                        <span>(eg. 坐落在北阿凯迪亚的豪华双层别墅...)</span>
                    </div>
                </div>
            </div>
        </div>
    <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Video Tour(Choose One)</h3>
            </div>
            <div class="panel-body">
                <div class="col-sm-12 item">
                    <div class="col-sm-8">
                        <input name="vimeo-id" value="{{ property.vimeo }}" class="form-control" type="text" placeholder="Vimeo ID (Optional)">
                    </div>
                    <div class="col-sm-4" style="text-align: right">
                        <span>(eg. <a href="#" onclick="window.open('https://vimeo.com/173515424');">173515424</a>)</span>
                    </div>
                </div>
                <div class="col-sm-12 item">
                    <div class="col-sm-8">
                        <input name="youtube-id" value="{{ property.youtube }}" class="form-control" type="text" placeholder="Youtube ID (Optional)">
                    </div>
                    <div class="col-sm-4" style="text-align: right">
                        <span>(eg. <a href="#" onclick="window.open('https://www.youtube.com/watch?v=lguKnO0Ngx4');">lguKnO0Ngx4</a>)</span>
                    </div>
                </div>
            </div>
        </div>
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">Slogan</h3>
        </div>
        <div class="panel-body">
            <div class="col-sm-12 item">
                <div class="col-sm-8">
                    <input name="slogan-title-eng" value="{{ property.slogan_title_English }}" class="form-control" type="text" placeholder="Slogan Title(English)">
                </div>
                <div class="col-sm-4" style="text-align: right">
                    <span>(eg. Looking for a new home?)</span>
                </div>
            </div>
            <div class="col-sm-12 item">
                <div class="col-sm-8">
                    <input name="slogan-subtitle-eng" value="{{ property.slogan_subtitle_English }}" class="form-control" type="text" placeholder="Slogan Subtitle(English)">
                </div>
                <div class="col-sm-4" style="text-align: right">
                    <span>(eg. Here it is, your very last stop!)</span>
                </div>
            </div>
            <div class="col-sm-12 item">
                <div class="col-sm-8">
                    <input name="slogan-title-chn" value="{{ property.slogan_title_Chinese }}" class="form-control" type="text" placeholder="Slogan Title(Chinese)">
                </div>
                <div class="col-sm-4" style="text-align: right">
                    <span>(eg. 欢迎光临！)</span>
                </div>
            </div>
            <div class="col-sm-12 item">
                <div class="col-sm-8">
                    <input name="slogan-subtitle-chn" value="{{ property.slogan_subtitle_Chinese }}" class="form-control" type="text" placeholder="Slogan Subtitle(Chinese)">
                </div>
                <div class="col-sm-4" style="text-align: right">
                    <span>(eg. 想要一个家？这就是你一直在寻找的地方)</span>
                </div>
            </div>
        </div>
        <div class="col-sm-offset-10" style="margin-bottom: 15px;">
            <a href="property.html" class="btn btn-danger">取消</a>
            <input type="submit" class="btn btn-info" value="保存">
        </div>
    </div>
    </form>
</div>
{% endblock %}

{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='assets/js/form.js')}}"></script>
    <script type="text/javascript">
        $(function () {
            
        });
    </script>
{% endblock %}