<!DOCTYPE html>
<html lang="en" ng-app="loginApp">
<head>
    <meta charset="UTF-8">
    <title>房产网站生成平台</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/login.css')}}">
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/X.Y.Z/angular-messages.js"></script>-->
</head>
<body class="bg">
<div class="container-fluid" ng-controller="LoginController">
    <div class="col-xs-8 col-xs-offset-2 center">
        <h2>房产网站生成平台</h2>
    </div>
    <div class="col-xs-4 col-xs-offset-4 box">
        <form action="/login" role="form" method="POST">
            <ul>
                <li>
                    <div class="input-group">
                            <span class="input-group-addon green-bg green-border glyphicon glyphicon-envelope" style="top:0px;" id="basic-addon2"></span>
                            <input name="login_email" type="email" class="form-control green-border" placeholder="请填入你的邮箱" aria-describedby="basic-addon2" required>
                    </div>
                </li>
                <li>
                    <div class="input-group">
                        <span class="input-group-addon green-bg green-border glyphicon glyphicon-lock" style="top:0px;" id="basic-addon6"></span>
                        <input name="login_password" type="password" class="form-control green-border" placeholder="请填入你的密码" aria-describedby="basic-addon6" required>
                    </div>
                </li>
                <li>
                    <input name="isRemember" type="checkbox">  记住密码
                </li>
                <li>
                    <div class="col-xs-12">
                        <div class="col-xs-12 col-sm-12 btng">
                            <input type="submit" value="登录" class="btn ss">
                        </div>
                    </div>
                </li>
                <li>
                    <div class="col-xs-12">
                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                 
                        {% for message in messages %}
                            {% if "Error" not in message[1]: %}
                                <div class="alert alert-info">
                                <strong>Success! </strong> {{ message[1] }}
                                </div>
                            {% endif %}
                 
                            {% if "Error" in message[1]: %}
                                <div class="alert alert-warning">
                                {{ message[1] }}
                                </div>
                            {% endif %}
                        {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </div>
                </li>
            </ul>
        </form>   
    </div>    
</div>
<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>