{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/metro-bootstrap/3.1.1.2/css/metro-bootstrap.min.css" crossorigin="anonymous">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <ol class="breadcrumb">
        <li><a href="/home">首页</a></li>
        <li><a href="/property" class="active">房产管理</a></li>
    </ol>
</div>
<div class="container-fluid">
    <div class="col-sm-12">
        <div class="panel panel-success" style="margin-top:15px;">
            <div class="panel-heading">
                <div class="panel-title">房产列表</div>
            </div>
            <div class="panel-body">
                {% if property_list %}
                <table class="table table-hover">
                    <thead>
                    <td class="hidden">房产id</td>
                    <td>#</td>
                    <td>房产地址</td>
                    <td>网站预览</td>
                    <td>上传图片</td>
                    <td>房产状态</td>
                    <td>网站发布</td>
                    </thead>
                    <tbody>
                    {% for property in property_list %}
                    <tr>
                        <td class="hidden">{{ property.idproperty }}</td>
                        <td>{{ loop.index }}</td>
                        <td>{{ property.address }} </td>
                        <td><a class="btn btn-default preview"><i class="fa fa-eye"></i></a></td>
                        <!-- <td><a class="btn btn-default detail"><i class="fa fa-info-circle"></i></a></td> -->
                        <!-- <td><a class="btn btn-default edit"><i class="fa fa-edit"></i></a></td> -->
                        <td><a class="btn btn-default upload-image"><i class="fa fa-upload"></i></a></td>
                        <td>
                        {% if property.is_published %}
                        <span style="color: blue">已发布<span>
                        {% else %}
                        {% if not property.domain %}
                        <span style="color: red">无域名<span>
                        {% endif %}
                        <span style="color: red">未发布<span>

                        {% endif %}
                        </td>
                        <td><a class="btn btn-default publish"><i class="fa fa-paper-plane"></i></a></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <div>尚无房产记录</div>
                {% endif %}
                <div class="col-sm-12 item">
                <div class="col-xs-12 btng" style="text-align: right;">
                    <a href="/home" class="btn btn-default ss">返回</a>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='assets/js/property.js')}}"></script>
{% endblock %}